.WrapperInterruptor {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-radius: 20px;
  padding: 0px 20px;
}

h2 {
  margin-right:20px;
}

button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

.buttonApagar{
  background-color: #f88;
  color: #000;
}

.buttonEncender{
  background-color: #8f8;
  color: #000;
}