.body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/Background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
